.goog-te-banner-frame.skiptranslate {
        display: none !important;
      } 
      
body {
    top: 0px !important; 
    }
     .goog-te-menu2{
        width: unset !important;
        height: -webkit-fill-available !important;
        width: 165px !important;
            height: 38px;
     }
     
     .goog-te-menu-frame{
        width: 183px !important;
        height: 280px !important;
        top: 95px !important;
        position: absolute !important;
        background-color: #fff;
     }

    #google_translate_element {
      z-index: 12522;
      position: relative;
    
  }
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
  text-align: center;
}
.goog-te-gadget-simple  {
  background-color: #003a70!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 7px!important;
  border-radius: 4px!important;
  font-size: 13px!important;
  line-height:1rem!important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
  width: 133px;
}
.goog-te-menu2 {
  /*max-width: 100%;*/
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    /*//content: "\E927";*/
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    /*// width:32px!important;*/
  } 
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    /*background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;*/
   
    display: none;
}

.goog-te-gadget-simple .goog-te-menu-value span{
  font-size: 11px;
}

.goog-te-menu2-item div{
      white-space: nowrap;
    color: rgb(84, 79, 75);
    /*width: 100%;*/
    padding: 20px;
    background-color: white;
}
.header.desktop-menu .secondary-menu{
  text-align: center; 
}
@media only screen and (max-width: 1920px){
  .goog-te-menu-frame{
        left: unset !important;
        right: 84px !important;
      }
}
@media only screen and (max-width: 1279px){
  /*#google_translate_element {
    top: 40px !important;
    right: 64px;
  }*/
  .goog-te-menu-frame{
    left: unset !important;
    right: 63px !important;
    top: 61px !important;
    height: 39.3px !important;
  }
}
@media only screen and (max-width: 414px){
 /* #google_translate_element {
    top: 40px !important;
    right: 64px;
  }*/
  .goog-te-gadget-simple{
        width: 105px;
  }
  .goog-te-gadget-simple .goog-te-menu-value span{
    font-size: 10px;
  }
  .goog-te-menu-frame{
    top: 60px !important;
    width: 105px !important;
    left: unset;
    right: 63px !important;
  }

}
@media only screen and (max-width: 375px){
  /*#google_translate_element {
    right: 49px;
  }*/
  .goog-te-menu-frame{
        right: 49px !important;
  }
}
@media only screen and (max-width: 360px){
  /*#google_translate_element {
    top: 36px !important;
    right: 49px;
  }*/
  .header.mobile-menu .menu-wrap .logo .logo-text {
    max-height: 53px;
  }
  .goog-te-menu-frame{
        right: 15px !important;
    width: 195px !important;
    top: 287px !important;
  }{

  }
  .goog-te-menu2-item span{
        font-size: 9pt !important;
  }
  .goog-te-menu-frame{
    height: 300px !important;
  }
  .goog-te-menu2-item div{
    padding: 1px !important;
  }
}
@media only screen and (max-width: 320px){
  /*#google_translate_element {
    top: 29px !important;
    right: 57px;
  }*/
  .goog-te-menu-frame {
    width: 106px !important;
        top: 45px !important;
  }
  .goog-te-menu-frame {
    right: 56px !important;
        height: 38.3px !important;
  }
  .header.mobile-menu .menu-wrap .logo .logo-text {
    max-height: 43px;
  }
  .goog-te-menu2 *{
    font-size: 7pt !important;
  }
  .goog-te-menu2{
    height: 29px;
  }
}

    